
.atSmall(@rem) {
    @media (min-width: 530px) {
        font-size: @rem;
    }
}
.atMedium(@rem) {
    @media (min-width: 800px) {
        font-size: @rem;
    }
}
.atLarge(@rem) {
    @media (min-width: 1200px) {
        font-size: @rem;
    } 
}
