.row {
    margin-right: -65px;
    .clear-fix;
        
    &--gutters > div {
        padding-right: 65px;
    }

    &__4 {
        float: left;
        width:(1% * ((4/12) * 100));
    }

    &__8 {
        .clear-fix;
        float: left;
        width:(1% * ((8/12) * 100));
    }
}